<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urna Eletrônica</title>
  <link rel="stylesheet" href="styles/main.css">
  <script type="module" src="scripts/app.js" defer></script>
</head>

<body>
  <aside id="candidates-info" class="closed" data-isOpen="false">
    <h3>🔼 Abrir Candidatos</h3>
  </aside>
  <main class="urna">
    <section class="screen">

    </section>
    <section class="teclado">
      <h1 style="color: white;">Justiça Eleitomiau</h1>
      <div class="numpad" id="numpad">
        <button type="button" data-value="1" id="key_1">1</button>
        <button type="button" data-value="2" id="key_2">2</button>
        <button type="button" data-value="3" id="key_3">3</button>
        <button type="button" data-value="4" id="key_4">4</button>
        <button type="button" data-value="5" id="key_5">5</button>
        <button type="button" data-value="6" id="key_6">6</button>
        <button type="button" data-value="7" id="key_7">7</button>
        <button type="button" data-value="8" id="key_8">8</button>
        <button type="button" data-value="9" id="key_9">9</button>
        <button type="button" data-value="0" id="key_0">0</button>
      </div>
      <div class="botoes_acao">
        <button type="submit" id="confirma" class="verde">Confirma</button>
        <button type="button" id="corrige" class="vermelho">Corrige</button>
        <button type="button" id="branco" class="branco">Branco</button>
      </div>
    </section>
  </main>
</body>

</html>