/* imports, resets e normalize */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

body {
    position: relative;
    font-family: 'Oswald', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    color: rgba(30,30,30, .9);
    font-display: swap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#candidates-info {
    position: relative;
    background-color: rgb(255 255 255);
    height: 185px;
    overflow-y: scroll;
    padding: .250rem;
    transition: all 200ms ease-in-out;
    z-index: 1;
}

#candidates-info.closed {
    transform: translateY(130px);
    
}
#candidates-info.open {
    transform: translateY(0);
    
}

#candidates-info h3 {
    position: sticky;
    background-color: rgb(255 255 255 / .5);
    backdrop-filter: blur(15px);
    top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 0 0 .25rem 0;
    padding: .725rem .250rem;

}
.candidate-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 .100rem .250rem;
    padding: .250rem;

}

.candidate-item:not(:last-child){
    border-bottom: 1px solid #303030;
}

.candidate-item img {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.urna {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .2rem;
    z-index: 99;
}

@media (min-width: 860px){
    .urna {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.screen {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: .4rem;


}

.wrapper {
    display: contents;
}

.screen img {
    align-self: flex-end;
    width: 113px;
    aspect-ratio: 3/4;
    border: 2px solid rgb(20 20 20 / .2);
    border-radius: .2rem;
    object-fit: cover;
    margin-bottom: 10px;
}

.screen div, form {
    padding: .250rem;
}

.numero-nome {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 250px;
    height: 100%;
    font-size: 1.2rem;


}


.screen .label, .confirmar-voto{
    font-size: .850em;
    text-transform: uppercase;

}

.screen .confirmar-voto{
    font-size: 12pt;
    margin-top: 1rem;
    border-top: 1px solid;
    align-items: flex-end;
}

.screen .end-screen {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

}

#number-input-form {
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: .25rem;
    height: 100%;
}

#number-input-form input {
    margin-left: .5rem;
    width: fit-content;
    max-width: 6ch;
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid #2d2d2d;
    padding-block: .225rem;
    border-radius: .25rem;
    text-align: center;
    transition: border-color 0.2s;

}

#number-input-form [type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.teclado {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem; 
}

.teclado form {
    display: contents;
}

input:hover,
input:focus {
    outline: 2px solid darkgrey;

}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; 
    margin: 0 1rem 2rem; 
}

.numpad button {
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1.2rem; 
    background-color: #333;
    color: #fff;
}

.numpad button:last-of-type{
    grid-column: 2/3;
}

.numpad button:hover {
    filter: brightness(90%);
}

.numpad button:focus {
    outline: 4px solid currentColor;

}

.botoes_acao {
    display: flex;
    flex-direction: row-reverse;
    gap: .725rem;
    align-items: flex-end;
}

button {
    padding: 1rem; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1rem; 
    text-transform: uppercase;
    color: #333;
}

.button:hover {
    filter: brightness(90%);
}

button:focus, 
button[type="submit"]:focus, 
button[type="reset"]:focus {
    outline: 2px solid darkgrey;
}

.verde {
    background-color: #4caf50;
    padding: 1.25rem 1rem;
}

.verde:hover {
    background-color: #45a049;
}

.vermelho {
    background-color: #ff5722;
}

.vermelho:hover {
    background-color: #e64a19;
}

.branco {
    background-color: #f2f2f2;
}

.branco:hover {
    background-color: #f5f5f5;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(30,30,30,.6);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}